[View in Colaboratory](https://colab.research.google.com/github/iamrajee/Data-Analysis/blob/master/combine_xlsheet.ipynb)

In [45]:
!ls

datalab  extendedjazzlist.csv  Jazz_Disc3_SJJune2018.xls  lastfinallist.csv

In [0]:
# !rm Jazz_Disc3_SJJune2018.xls

In [6]:
from google.colab import files
uploaded = files.upload()

Saving lastfinallist.csv to lastfinallist.csv

In [7]:
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [9]:
%%time
import pandas as pd
import xlrd
import numpy as np

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 17.4 µs

In [10]:
df_ = pd.read_csv('lastfinallist.csv')
df_.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0       0    1    2    3    4
0           0     NaN  NaN  NaN  NaN  NaN
1           1  prague  NaN  NaN  NaN  NaN
2           2  prague  NaN  NaN  NaN  NaN
3           3  prague  NaN  NaN  NaN  NaN
4           4  prague  NaN  NaN  NaN  NaN

In [12]:
firstlist = []

rows = np.shape(df_)[0]
columns = np.shape(df_)[1]-1

print(columns)

newlist = []
for i in range(0,rows):
  temprow = []
  for j in range(0,columns):
    tempcol = str(str(j))
    ele = str(df_[tempcol][i]).strip().lower()
    if ele != "nan":
      temprow.append(ele)
  firstlist.append(np.unique(temprow))

5

In [13]:
print(firstlist[1])

['prague']

In [0]:
xls = pd.ExcelFile('Jazz_Disc3_SJJune2018.xls')
# df = []

In [0]:
df = []
df.append(pd.read_excel(xls, 'albums'))
df.append(pd.read_excel(xls, 'albums 1'))
df.append(pd.read_excel(xls, 'albums 2'))
df.append(pd.read_excel(xls, 'albums 3'))

In [18]:
%%time
dfmus = []
for i in range(1,18):
  filename = "Copy of musicians " + str(i)
  print(filename)
  dfmus.append(pd.read_excel(xls, filename, ignore_index=True))

Copy of musicians 1
Copy of musicians 2
Copy of musicians 3
Copy of musicians 4
Copy of musicians 5
Copy of musicians 6
Copy of musicians 7
Copy of musicians 8
Copy of musicians 9
Copy of musicians 10
Copy of musicians 11
Copy of musicians 12
Copy of musicians 13
Copy of musicians 14
Copy of musicians 15
Copy of musicians 16
Copy of musicians 17
CPU times: user 7.59 s, sys: 159 ms, total: 7.74 s
Wall time: 7.76 s

In [19]:
%%time
dfmusall = dfmus[0]

for i in range(1,17):
  print(i,len(dfmusall))
  dfmusall = dfmusall.append(dfmus[i], ignore_index=True)

1 50000
2 100000
3 150000
4 200000
5 250000
6 300000
7 350000
8 400000
9 450000
10 500000
11 550000
12 600000
13 650000
14 700000
15 750000
16 800000
CPU times: user 546 ms, sys: 83 ms, total: 629 ms
Wall time: 619 ms

In [0]:
# dictall = {}

for i in range()
# dictall.append

In [0]:
dfmusall2 = dfmusall.sort_values(by = ['rid'])

In [24]:
print(dfmusall['rid'][87849], dfmusall.sort_values('rid')['rid'][87849])

265300 265300

In [25]:
musicidlist = dfmusall2['musId']
ridlist = dfmusall2['rid']

print(len(musicidlist))
print(len(ridlist))

814520
814520

In [26]:
i = 87849
# i = 345546

print(dfmusall['rid'][i], dfmusall2['rid'][i])

265300 265300

In [27]:
print(df[0].columns)

Index(['lid', 'rid', 'year', 'month', 'day', 'location', 'title',
       'carryForward', 'printDate', 'notes', 'session'],
      dtype='object')

In [28]:
print(np.shape(df[0]))

(50000, 11)

In [0]:
dfnew = df[0].append(df[1], ignore_index=True)
dfnew = dfnew.append(df[2], ignore_index=True)
dfnew = dfnew.append(df[3], ignore_index=True)

In [30]:
print(np.shape(dfnew))

(153961, 11)

In [31]:
print(dfnew['rid'][116777])

1214742

In [32]:
print(firstlist[1])

['prague']

In [33]:
mainlist = []
for i,rowlist in enumerate(firstlist):
  temprow = []
  if len(rowlist) > 0:
    temprow.append(rowlist[0])
  mainlist.append(temprow)
print(len(mainlist))

153961

In [34]:
print(mainlist[1])

['prague']

In [0]:
locationdf = pd.DataFrame({'location2':mainlist})
# print(locationdf)

In [0]:
dfnew2 = pd.concat([dfnew, locationdf], axis=1)

In [0]:
# print(dfnew2)

In [38]:
for i,row in dfnew2.iterrows():
  if i < 2:
    print(row)

lid              244860
rid                   0
year                NaN
month               NaN
day                 NaN
location            NaN
title               NaN
carryForward          0
printDate             0
notes               NaN
session         A581.10
location2            []
Name: 0, dtype: object
lid                        10
rid                        10
year                     1962
month                       3
day                         3
location               Prague
title           S & H Quartet
carryForward                0
printDate                   1
notes                     NaN
session                    S1
location2            [prague]
Name: 1, dtype: object

In [39]:
print(dfnew2.iloc[0])

lid              244860
rid                   0
year                NaN
month               NaN
day                 NaN
location            NaN
title               NaN
carryForward          0
printDate             0
notes               NaN
session         A581.10
location2            []
Name: 0, dtype: object

In [46]:
print("heloo")

heloo

In [47]:
dfnew3 = dfnew2
print(len(dfnew3))
for i,rowlist in enumerate(firstlist):
  temprow = []
  if len(rowlist) > 1:
#     print(i,rowlist) 
    for j in range(1,len(rowlist)):
      ele1 = rowlist[j]
      dfrow = dfnew3.iloc[i]
      dfrow['location2'] = ele1
      dfnew3 = dfnew3.append(dfrow, ignore_index=True) 
  if i%10000 == 0:
    print(i)
print(len(dfnew3))

153961
0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
158754

In [63]:
dfnew3.iloc[9]

lid                      10
rid                      90
year                   1963
month                     9
day                      15
location        Prague, CZH
title           SH Kvinteto
carryForward              0
printDate                 0
notes                   NaN
session                  S9
location2          [prague]
Name: 9, dtype: object

In [0]:
# pd.to_excel()

In [49]:
print(len(dfnew3))

158754

In [65]:
!pip install xlwt

Collecting xlwt
  Downloading https://files.pythonhosted.org/packages/44/48/def306413b25c3d01753603b1a222a011b8621aed27cd7f89cbc27e6b0f4/xlwt-1.3.0-py2.py3-none-any.whl (99kB)
    100% |████████████████████████████████| 102kB 4.6MB/s
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [70]:
!pip install openpyxl

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/f6/13/3c1263b852377738eaa60f99602fb58cc8ad2fd1badb0b724b0d5b532727/openpyxl-2.5.4.tar.gz (170kB)
    100% |████████████████████████████████| 174kB 7.2MB/s
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/a0/38/dcf83532480f25284f3ef13f8ed63e03c58a65c9d3ba2a6a894ed9497207/jdcal-1.4-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Running setup.py bdist_wheel for openpyxl ... - \ | done
  Stored in directory: /content/.cache/pip/wheels/d3/75/83/415a5bbed8366f66a87f7bd0fc28f7df6e13982960f3e5a7ab
  Running setup.py bdist_wheel for et-xmlfile ... - done
  Stored in directory: /content/.cache/pip/wheels/2a/77/35/0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4 openpyxl-2.5.4

In [0]:
import xlwt
import openpyxl

In [0]:
filename = "extendedjazzlist.xlsx"
# my_df = pd.DataFrame(lastfinallist2)
dfnew3.to_excel(filename)

from google.colab import files
downloaded = files.download(filename)

In [168]:
# print(dfnew3.iloc[153987])

lid                                                          1620
rid                                                          7910
year                                                         1981
month                                                           1
day                                                             4
location                       New York & San Francisco, CA, 1981
title                                                         NaN
carryForward                                                    0
printDate                                                       0
notes           All titles from Theresa TR112/113 also on Evid...
session                                                      S791
location2                                           san francisco
Name: 153987, dtype: object

In [187]:
# i = 16
# # i = 0
# print(ridlist[i], musicidlist[i])
# print(dfmus[0].iloc[16])

91160 0
rid                91160
mid                   10
symbol                 *
lastName             NaN
firstName     no details
instrument           NaN
id                  2052
musId                  0
Name: 16, dtype: object

In [0]:
from bisect import bisect_left

def binary_search(a, x, lo=0, hi=None):  # can't use a to specify default for hi
    hi = hi if hi is not None else len(a)  # hi defaults to len(a)   
    pos = bisect_left(a, x, lo, hi)  # find insertion position
    return (pos if pos != hi and a[pos] == x else -1)  # don't walk off the end

In [0]:
# r = 91140
# binary_search(ridlist, r, lo=0, hi=None)

In [55]:
newmusid = []
newrid = []

previosrid = -111


count=0
for i in range(0,len(ridlist)):
  tempmusid = []
  r = ridlist[i]
  m = musicidlist[i]
  
  if previosrid == r:
    newmusid[count-1].append(m)
  else:
    b = binary_search(newrid, r, lo=0, hi=None)
    if b == -1:
      newrid.append(r)
      tempmusid.append(m)
      newmusid.append(tempmusid)
      count+=1
    else:
      newmusid[b].append(m)
      print("---------->"+str(i)+'   (b = '+ str(b)+')   '+ str(r))
  if i%250000==0: 
    print(i)
    
  previosrid = r
    
    
print(len(ridlist),len(newrid), len(np.unique(newrid)))
print(len(musicidlist),len(newmusid), len(np.unique(newmusid)))

0
---------->87324   (b = 14463)   264770
---------->87380   (b = 14464)   264880
---------->88853   (b = 14514)   267390
---------->240716   (b = 38980)   588610
250000
---------->287772   (b = 46585)   683300
---------->287838   (b = 46586)   683450
500000
750000
814520 130360 130355
814520 130360 108514

In [56]:
unique3 = []

newrid2 = []
newmusid2 = []

for i in range(0,len(newrid)):
  
  r = newrid[i]
  m = newmusid[i]
  
  if r not in unique3:
    
    unique3.append(r)
    newrid2.append(r)
    newmusid2.append(m)
  else:
    b = binary_search(unique3, r, lo=0, hi=None)
    if b != -1:
      for ele2 in m:
        newmusid2[b].append(ele2)
    else:
      print("warning")
  if i%10000==0:
    print(i)
    

print(len(ridlist),len(newrid2), len(np.unique(newrid2)))
print(len(musicidlist),len(newmusid2), len(np.unique(newmusid2)))

print(len(unique3))

0
10000
warning
warning
20000
30000
40000
warning
warning
warning
50000
60000
70000
80000
90000
100000
110000
120000
130000
814520 130355 130355
814520 130355 108510

In [0]:
tempmdf = pd.DataFrame({'musicid':newmusid2})

temprdf = pd.DataFrame({'rid':newrid2})

dfrmid = pd.concat([temprdf, tempmdf], axis=1)

In [79]:
dfrmid.head()

     rid                                            musicid
0  91130                                   [143378, 143379]
1  91140  [143381, 143382, 143368, 143383, 143384, 14338...
2  91150                                                [0]
3  91160                                                [0]
4  91170           [143388, 135609, 143389, 127604, 143390]

In [0]:
dfrmid2 = dfrmid.sort_values(by=['rid'])

In [0]:
ridnew5 = dfrmid2['rid']
musicidnew5 = dfrmid2['musicid']

In [95]:
previousele = -111
for i,ele in enumerate(ridnew5):
  if ele<previousele:
    print("warning"+str(i))
  if i % 10000==0:
    print(i)
  previousele = ele

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000

In [96]:
orignalridlist = dfnew3['rid']
print(len(orignalridlist), len(np.unique(orignalridlist)))

158754 153961

In [99]:
corrmidlist = []

count = 0
for i,ele in enumerate(orignalridlist):
  r = ele
  b = binary_search(ridnew5, r, lo=0, hi=None)
  tempmid1 = []
  
  
  if b != -1:
    m = musicidnew5[b]
    tempmid1 = m
  else:
#     print("---------->"+str(i)+"     "+str(r))
    count+=1
    
  corrmidlist.append(tempmid1)
    
    
  if i % 10000==0:
    print(i)
    
    
print(count)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
24507

In [101]:
print(len(corrmidlist))


count2 = 0
for ele in corrmidlist:
  if len(ele) != 0:
    count2+=1
   
print("count2:" + str(count2))

158754
count2:134247

In [110]:
# tef = ["1","23","5234"]
tef = [23,24,34,23,12]

# for ele in tef:
  
#   tef2 = [''.join(ele)]

tef2 = '|'.join(str(ele) for ele in tef) 

print(tef,tef2)

[]

In [0]:
corrmidlist2 = []
for rowlist in corrmidlist:
  if len(rowlist)>0:
    tempele = '|'.join(str(ele) for ele in rowlist)
    corrmidlist2.append(tempele)
  else:
    corrmidlist2.append(rowlist)

In [125]:
print(len(corrmidlist2))

print(corrmidlist2[128753])

158754
177906|140123|140124|135111|137136|143999

In [126]:
print(dfnew3.columns)

Index(['lid', 'rid', 'year', 'month', 'day', 'location', 'title',
       'carryForward', 'printDate', 'notes', 'session', 'location2'],
      dtype='object')

In [135]:
loc2list6 = dfnew3['location2']
yearlist6 = dfnew3['year']
ridlist6 = dfnew3['rid']

print(len(loc2list6),len(yearlist6),len(ridlist6),len(corrmidlist2))


floclist = []
fyearlist = []
fridlist = []
fmusicidlist = []


for i,ele in enumerate(loc2list6):
  if len(ele) != 0 and len(str(yearlist6[i]))!=0:
    floclist.append(ele)
    fyearlist.append(yearlist6[i])
    fridlist.append(ridlist6[i])
    fmusicidlist.append(corrmidlist2[i])
    
    
print(len(floclist),len(fyearlist),len(fridlist),len(fmusicidlist))
    
flocdf = pd.DataFrame({'location':floclist})
fyeardf = pd.DataFrame({'year':fyearlist})
friddf  = pd.DataFrame({'rid':fridlist})
fmusicdf = pd.DataFrame({'musicid':fmusicidlist})


dflastfinal = pd.concat([flocdf, fyeardf, friddf, fmusicdf], axis=1)

158754 158754 158754 158754
135993 135993 135993 135993

In [132]:
print(dflastfinal.columns)

print(len(dflastfinal))

print(dflastfinal)

Index(['location', 'year', 'rid', 'musicid'], dtype='object')
135993
               location    year      rid  \
0              [prague]  1962.0       10
1              [prague]  1962.0       20
2              [prague]  1962.0       30
3              [prague]  1962.0       40
4              [prague]  1962.0       50
5              [prague]  1963.0       60
6              [prague]  1963.0       70
7              [prague]  1963.0       80
8              [prague]  1963.0       90
9              [prague]  1963.0      100
10             [prague]  1963.0      110
11             [prague]  1964.0      120
12             [prague]  1964.0      130
13             [prague]  1964.0      150
14             [prague]  1964.0      160
15             [prague]  1964.0      170
16             [prague]  1964.0      180
17             [prague]  1964.0      190
18             [prague]  1964.0      200
19             [prague]  1964.0      210
20             [prague]  1964.0      220
21             [prague]  1964.0      230
22             [prague]  1965.0      240
23             [prague]  1965.0      250
24             [prague]  1966.0      260
25             [prague]  1971.0      280
26             [prague]  1972.0      290
27         [bratislava]  1978.0      310
28               [graz]  1991.0      320
29        [los angeles]  1994.0      330
...                 ...     ...      ...
135963             oslo  2000.0  1250054
135964          toronto  1999.0  1250055
135965         new york  2001.0  1250102
135966            miami  2001.0  1250115
135967      los angeles  2003.0  1250116
135968           vienna  1999.0  1249811
135969           london  2003.0  1249836
135970         new york  2003.0  1249873
135971         new york  2003.0  1249874
135972         new york  2001.0  1250195
135973         new york  2003.0  1250197
135974        lexington  2003.0  1250217
135975       louisville  2003.0  1250217
135976       versailles  2003.0  1250217
135977       louisville  2000.0  1250232
135978     pennsylvania  2001.0  1250290
135979         new york  2001.0  1250355
135980  north hollywood  2001.0  1250355
135981          holland  2001.0  1250369
135982          sudbury  2003.0  1250397
135983            tokyo  2003.0  1250422
135984  north hollywood  2001.0  1250440
135985          toronto  2000.0  1250475
135986          chicago  2003.0  1250477
135987         new york  2002.0  1250530
135988         new york  2001.0  1250559
135989             ohio  2000.0  1250568
135990          chicago  2000.0  1250574
135991          toronto  2002.0  1250575
135992         new york  2002.0  1250591

                                                  musicid
0                                                      []
1                                                      []
2                                                      []
3                                                      []
4                                                      []
5                                                      []
6                                                      []
7                                                      []
8                                                      []
9                                                      []
10                                                     []
11                                                     []
12                                                     []
13                                                     []
14                                                     []
15                                                     []
16                                                     []
17                                                     []
18                                                     []
19                                                     []
20                                                     []
21                                                     []
22                                                     []
23                                                     []
24                                                     []
25                                                     []
26                                                     []
27                                                     []
28                                                     []
29                                                     []
...                                                   ...
135963  149520|264628|149513|158418|136153|143942|2646...
135964                        264630|223095|264631|264631
135965  133078|156598|130595|133687|133025|156599|1329...
135966  157462|157463|157464|129182|157465|157466|1574...
135967  157493|157474|157494|157495|157496|157497|1574...
135968  255575|255575|132111|239699|143405|132113|2337...
135969  134480|132465|132458|138667|264365|0|264366|0|...
135970                      134559|0|147002|147003|133943
135971               134559|0|135095|127824|128154|133943
135972  264795|0|127873|138779|128318|128296|169391|16...
135973  264795|0|127873|128263|264802|264812|138287|15...
135974  237188|237189|237190|237191|237192|237185|1594...
135975  237188|237189|237190|237191|237192|237185|1594...
135976  237188|237189|237190|237191|237192|237185|1594...
135977          168788|264922|264923|253627|253627|264924
135978  154021|190871|151909|128833|145969|239214|1280...
135979  128120|128318|128263|130721|240815|134564|1281...
135980  128120|128318|128263|130721|240815|134564|1281...
135981                               205910|163788|150163
135982  265084|0|152079|132273|265085|143769|239855|16...
135983  167164|189192|172008|189167|189167|242277|1927...
135984  242591|0|139440|242602|135308|190623|138893|12...
135985          145789|172783|243563|171288|145798|243564
135986  128296|127634|169391|128339|243615|142683|2436...
135987  128825|0|153796|244936|138121|138569|171570|24...
135988   135079|156500|166858|163320|133296|138849|129016
135989  246049|246050|246050|246050|240670|240670|2460...
135990                                      175723|246139
135991  222559|0|244238|138912|139538|147858|127149|13...
135992               246807|0|127823|130381|246808|133444

[135993 rows x 4 columns]

In [0]:
filename = "finaljazz.xlsx"
# my_df = pd.DataFrame(lastfinallist2)
dflastfinal.to_excel(filename)

from google.colab import files
downloaded = files.download(filename)